.App {
  text-align: center;
  width: 100%;
  background-image: url('../public/background.png');
  background-color: #DBD1C6;
  background-size: contain;
  background-repeat: no-repeat;
}

.App-logo {
  width: 50%;
}

.App-header {
  padding-top: 3rem;
  padding-bottom: 12rem;
  color: white;
}

.App-intro {
  font-size: 1rem;
}

.App-list {
  margin: 1rem;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.App-list-item {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: white;
  list-style-type: none;
}

.App-thumbnail-container {
  position: relative;
}

.App-thumbnail {
  max-width: 100%;
}

.App-video-title {
  color: #27314A;
  margin-top: 1rem;
  margin-bottom: 0;
}

.App-button {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url('../public/play.png') no-repeat center;
  background-size: 15%;
}

.App-video-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.App-video {
  width: 100%;
  height: auto;
}
