@font-face{font-style:normal;font-weight:300;font-family:Calibre Thin;src:url("https://casper.com/assets-spa/fonts/CalibreWeb-Thin.woff2") format("woff2"),url("https://casper.com/assets-spa/fonts/CalibreWeb-Thin.woff") format("woff")}
@font-face{font-style:normal;font-weight:300;font-family:Calibre Light;src:url("https://casper.com/assets-spa/fonts/CalibreWeb-Light.woff2") format("woff2"),url("https://casper.com/assets-spa/fonts/CalibreWeb-Light.woff") format("woff")}
@font-face{font-style:normal;font-weight:400;font-family:Calibre Regular;src:url("https://casper.com/assets-spa/fonts/CalibreWeb-Regular.woff2") format("woff2"),url("https://casper.com/assets-spa/fonts/CalibreWeb-Regular.woff") format("woff")}
@font-face{font-style:normal;font-weight:500;font-family:Calibre Medium;src:url("https://casper.com/assets-spa/fonts/CalibreWeb-Medium.woff2") format("woff2"),url("https://casper.com/assets-spa/fonts/CalibreWeb-Medium.woff") format("woff")}

.App {
  font-family: 'Calibre Light';
  text-align: center;
  width: 100%;
  background-image: url('../public/background.png');
  background-color: #DBD1C6;
  background-size: contain;
  background-repeat: no-repeat;
}

.App-logo {
  width: 50%;
}

.App-header {
  padding-top: 3rem;
  padding-bottom: 12rem;
  color: white;
}

.App-intro {
  font-family: 'Calibre Thin';
  letter-spacing: 0.025rem;
  margin-top: 0;
  font-size: 1rem;
}

.App-list {
  margin: 1rem;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.App-list-item {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: white;
  list-style-type: none;
}

.App-thumbnail-container {
  position: relative;
}

.App-thumbnail {
  max-width: 100%;
}

.App-video-title {
  font-family: 'Calibre Regular';
  font-weight: 600;
  color: #1e306e;
  margin-top: 1rem;
  margin-bottom: 0;
}

.App-button {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url('../public/play.png') no-repeat center;
  background-size: 15%;
}

.App-video-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.App-video {
  width: 100%;
  height: auto;
}
